/* Contenedor principal */
.mp-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%; /* Ocupa toda la altura del contenedor */
    margin: 0;
    padding: 20px;
    background: #f9f1f1;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    
  }
  
  /* Encabezado */
  .mp-list-container .headermp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 70px;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Input */
  .mp-list-container .input {
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    height: 35px;
    width: 500px;
    padding-left: 10px;
  }
  
  /* Botón agregar */
  .mp-list-container .add-mp-button {
    background-color: #ff9595;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .mp-list-container .add-mp-button:hover {
    background-color: #ff8484;
  }
  
  /* Contenedor de la tabla */
  .mp-list-container .table-wrapper {
    flex: 1;
    overflow: hidden; /* Permite que el contenido de la tabla sea desplazable si es necesario */
    margin-top: 10px;
    border-radius: 8px;
  }
  
  /* Tabla */
  .mp-list-container .mp-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .mp-list-container .mp-table th,
  .mp-list-container .mp-table td {
    padding: 15px;
    text-align: left;
  }
  
  .mp-list-container .mp-table th {
    background-color: #ff9595;
    color: white;
  }
  
  .mp-list-container .mp-table tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Fila en bajo stock */
  .low-stock {
    background-color: #ffd5d5;
    color: #b40000;
    text-decoration-line: underline;
  }
  
  /* Botones de acción */
  .action-button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .action-button.edit {
    background-color: #ffc107;
    color: white;
  }
  
  .action-button.edit:hover {
    background-color: #e0a800;
  }
  
  .action-button.delete {
    background-color: #dc3545;
    color: white;
  }
  
  .action-button.delete:hover {
    background-color: #c82333;
  }
  
  /* Mensaje sin productos */
  .no-products-message {
    color: #555;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilo de carga */
  .loading {
    font-size: 20px;
    color: #ff8484;
    text-align: center;
    margin-top: 50px;
  }
  