.mp-detail-container {
  display: flex;
  background-color: #f9f1f1;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #ffc4c4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 2px solid #f9b1b1;
  position: sticky;
  left: 0;
  margin-left: 0px;
}


.mp-detail-container .sidebar button {
  background-color: #fff;
  border: 1px solid #ffa3a3;
  color: #ff8484;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mp-detail-container .sidebar .button.active {
  background-color: #ffa3a3;
  color: #fff;
  font-weight: bold;
}

.mp-detail-container .sidebar .button-cancelar {
  background-color: #fff;
  border: 1px solid #ffa3a3;
  color: #ff8484;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mp-detail-container .sidebar button:hover,
.mp-detail-container .sidebar .button-cancelar:hover {
  background-color: #ff9595;
  color: #fff;
}
.mp-detail-container .cards-container {
    flex: 1;
    display: flex;
    margin: 0px;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
  }
  
  .mp-detail-container .cards-container .card-p {
    background-color: white;
    padding: 20px;
    flex-grow: 1;
  }
  
  .mp-detail-container .cards-container .card-p h3 {
    font-size: 1.5rem;
    color: #ff6b6b;
    margin-bottom: 10px;
  }

  .mp-detail-container .cards-container form {    
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .mp-detail-container .cards-container .card-p  input,
  .mp-detail-container .cards-container .card-p  select,
  .mp-detail-container .cards-container .card-p  textarea {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.mp-detail-container .cards-container .card-p label {
  font-weight: bold;
  margin-bottom: 5px;
}

.mp-detail-container .cards-container .card-p .save-button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }