/* Contenedor principal */
.product-list-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0px;
  padding: 20px;
  background: #f9f1f1;
  font-family: 'Roboto', sans-serif;

}

/* Encabezado */
.product-list-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  height: 70px;
  padding: 0px;
  background-color: #f9f1f1;
  box-shadow: none;
  position: unset;

}

.product-list-container .input {
  border-radius: 15px;
  background-color: #ffffff;
  border-color: #afabab;
  border: 1px solid #ddd;
  box-shadow: none;
  border-width: 0.5px;
  height: 35px;
  width: 500px;
  padding-left: 10px;

}

.product-list-container .add-product-button {
  background-color: #ff9595;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-right: 15px;
}

.product-list-container .add-product-button:hover {
  background-color: #ff8484;
}

/* Tabla */
.product-list-container .product-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;

}

.product-list-container .product-table th,
.product-list-container .product-table td {
  padding: 15px;
  text-align: left;
}

.product-list-container .product-table th {
  background-color: #ff9595;
  color: white;
}

.product-list-container .product-table tr {
  border-bottom: 1px solid #ddd;
}

.product-list-container .product-table tr:hover {
  background-color: #ffeaea;
}

.product-list-container .product-table td {
  color: #555;
}

/* Botones de acción */
.product-list-container .action-button {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.product-list-container .action-button.edit {
  background-color: #ffc107;
  color: white;
}

.product-list-container .action-button.edit:hover {
  background-color: #e0a800;
}

.product-list-container .action-button.delete {
  background-color: #dc3545;
  color: white;
}

.product-list-container .action-button.delete:hover {
  background-color: #c82333;
}

/* Mensaje sin productos */
.product-list-container .no-products-message {
  color: #555;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* Estilo de carga */
.product-list-container .loading {
  font-size: 20px;
  color: #ff8484;
  text-align: center;
  margin-top: 50px;
}