.container-footer {
    background-color: rgba(38, 35, 35, 0.8); 
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-family: 'Roboto';
    /*top: 30px*/ /*porque se ve un espacio en carrito*/
}

.footer-section {
    flex: 1;
    margin: 15px;
    min-width: 250px;
}

.encabezado {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 10px;
}

.icono {
    color: #c78ca0;
    height: 30px;
    width: 30px;
    margin-right: 12px; 
    transition: transform 0.3s ease;
}

.icono:hover {
    transform: scale(1.2);
}

.contenido {
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    margin-top: 15px; 
}

@media screen and (max-width: 768px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-item {
        justify-content: center;
    }
}
