@font-face {
    font-family: 'Manrope';
    src: url('../../assets/fonts/manrope/Manrope-Bold.otf') format('truetype');
}

/* Contenedor general del menú */
.c-menu {
    text-align: left;
    background-color: #ffffff;     
    padding: 20px;      
    margin-top: 10px;   
    margin-left: 10px;
    margin-right: 10px;

}

.menu-titulo{
    font-family: 'Tess';
    font-weight: bolder;
    font-size: 45px;
    text-align: left;
    color: #d36b6b; 
}

/* Contenedor de categorías */
.c-menu .categorias-container {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 15px;
}

/* Cada categoría */
.c-menu .categoria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.c-menu .categoria-item:hover {
    transform: translateY(-5px); 
}

/* Imagen de cada categoría */
.c-menu .categoria-imagen {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.c-menu .categoria-item:hover .categoria-imagen {
    transform: scale(1.1); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

/* Nombre de la categoría */
.c-menu .categoria-nombre {
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #000000; 
    font-family: 'Manrope', sans-serif;
}
