.carrito-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    border-radius: 10px;
  }
  
  .tituloCarrito {
    text-align: center;
    color: #d36b6b; 
  }
  
  .carrito-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Roboto';
  }
  
  .carrito-table th, .carrito-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #f0c0c0; 
  }
  
  .carrito-table th {
    background-color: #f8b8b8; 
  }
  
  .carrito-table tr:nth-child(even) {
    background-color: #fde8e8; 
  }
  
  .carrito-table td img {
    border-radius: 5px;
  }
  
  .tituloCarrito{
    font-family: 'Tess';
    font-weight: bolder;
    font-size: 45px;
  }

  .botonDeleteCarrito{
    font-family: Roboto;
    background-color: #751b1b;
    color: white;
    border: 1px solid #5c0707;
    transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }

  .botonDeleteCarrito:hover{
    transform: scale(1.1);
    background-color: #751b1b;
    color: white;
  }

  .botonDeleteCarrito:active{
    background-color: #751b1b;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }

  .total-carrito {
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
  }


  .carritoVacio{
    font-family: Roboto;
    color: #db9e9e;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .enviarPedido{
    font-family: Roboto;
    background-color: #d36b6b;
    color: white;
    border: 1px solid #d36b6b;
    transition: transform 0.2s ease;
    border-radius: 12px;
    height: 40px;
    width: 120px;
    margin-top: 10px;
  }

  .enviarPedido:hover{
    transform: scale(1.1);
    background-color: #ff8080;
    color: white;
  }

  .enviarPedido:active{
    background-color: #ff8080;
    color: white;
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  }

.tipo-pago {
  margin: 20px 0;
  font-family: Roboto;
}

.tipo-pago label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.tipo-pago select {
  font-family: Roboto;
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(248, 248, 235);
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.tipo-pago select:hover {
  border-color: #d36b6b;
}

.tipo-pago select:focus {
  border-color: #d36b6b;
  box-shadow: 0 0 5px rgba(211, 107, 107, 0.5);
  outline: none;
}

.tipo-pago option {
  background-color: #fff;
  color: #333;
}

.tipo-pago select:invalid {
  color: #999; 
}

.metodoPagoTitulo{
  font-family: Roboto;
  font-weight: 100;
  font-size: 16px;
}