.contacto-container {
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

@font-face {
    font-family: 'Tess';
    src: url('../../assets/fonts/tess/Tess.otf') format('truetype');
}

.form-contacto {
    font-family: 'Tess';
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #d36b6b; 
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mensaje-input {
    padding: 10px;
    border: 2px solid #d4a1b2;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color:beige;
    resize: none;
}

.enviar-btn {
    padding: 10px;
    background-color: #f25c8e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enviar-btn:hover {
    background-color: #f43f6c;
}

/* Diseño responsive */
@media (max-width: 768px) {
    .contacto-container {
        padding: 15px;
        max-width: 90%;
    }

    .mensaje-input {
        font-size: 14px;
    }

    .enviar-btn {
        font-size: 14px;
    }
}

.contacto-logo{
    max-width: 200px;
    max-height: 150px;
    padding-bottom: 35px;
}