.contacto-container {
    border-radius: 15px;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
    padding: 30px 20px;
}

@font-face {
    font-family: 'Tess';
    src: url('../../assets/fonts/tess/Tess.otf') format('truetype');
}

.form-contacto {
    font-family: 'Tess', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #d36b6b; 
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.mensaje-input {
    padding: 12px;
    border: 2px solid #d4a1b2;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
    background-color: #fdf1f1;
    resize: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.mensaje-input:focus {
    border-color: #f25c8e;
    box-shadow: 0 0 8px rgba(242, 92, 142, 0.5);
    outline: none;
}

.enviar-btn {
    width: 100%;
    padding: 12px;
    background-color: #f25c8e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center; /* Asegura el texto centrado */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.enviar-btn:hover {
    background-color: #f43f6c;
    transform: scale(1.05);
}

.enviar-btn:active {
    background-color: #e43760;
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.contacto-logo {
    max-width: 200px;
    max-height: 150px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .contacto-container {
        padding: 20px;
        max-width: 95%;
    }

    .form-contacto {
        font-size: 28px;
    }

    .mensaje-input {
        font-size: 14px;
    }

    .enviar-btn {
        font-size: 16px;
    }
}
