/* Contenedor principal */
.proveedor-list-container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0px;
    padding: 20px;
    background: #f9f1f1;
    font-family: 'Roboto', sans-serif;
  
  }
  
  /* Encabezado */
  .proveedor-list-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    height: 70px;
    padding: 0px;
    background-color: #f9f1f1;
    box-shadow: none;
    position: unset;
  
  }
  
  
  .proveedor-list-container .add-proveedor-button {
    background-color: #ff9595;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding-right: 15px;
  }
  
  .proveedor-list-container .add-proveedor-button:hover {
    background-color: #ff8484;
  }
  
  /* Tabla */
  .proveedor-list-container .proveedor-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
  
  }
  
  .proveedor-list-container .proveedor-table th,
  .proveedor-list-container .proveedor-table td {
    padding: 15px;
    text-align: left;
  }
  
  .proveedor-list-container .proveedor-table th {
    background-color: #ff9595;
    color: white;
  }
  
  .proveedor-list-container .proveedor-table tr {
    border-bottom: 1px solid #ddd;
  }
  
  .proveedor-list-container .proveedor-table tr:hover {
    background-color: #ffeaea;
  }
  
  .proveedor-list-container .proveedor-table td {
    color: #555;
  }
  
  /* Botones de acción */
  .proveedor-list-container  .action-button {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .proveedor-list-container  .action-button .edit {
    background-color: #ffc107;
    color: white;
  }
  
  .proveedor-list-container  .action-button .edit:hover {
    background-color: #e0a800;
  }
  
  .proveedor-list-container  .action-button .delete {
    background-color: #dc3545;
    color: white;
  }
  
  .proveedor-list-container  .action-button .delete:hover {
    background-color: #c82333;
  }
  
  /* Mensaje sin productos */
  .proveedor-list-container  .no-proveedor-message {
    color: #555;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilo de carga */
  .proveedor-list-container  .loading {
    font-size: 20px;
    color: #ff8484;
    text-align: center;
    margin-top: 50px;
  }


  /* Fondo del modal */
  .proveedor-list-container .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  /* Contenido del modal */
.proveedor-list-container .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Más ancho */
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Estilo del formulario */
  .proveedor-list-container .modal-content .formPr {
    display: grid;    
  } 

  
  .proveedor-list-container .modal-content .formPr input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .proveedor-list-container .modal-content .formPr label {
    width: 100%;    
    text-align: left;   
  }
  .proveedor-list-container .modal-content .formPr .botones-f {
    margin-top: 5px;
    text-align: center;   
  }
  
  
  /* Fondo borroso cuando se abre el modal */
  .modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurecer fondo */
  }
  .modal-dialog .modal-content {
    background-color: white;
    padding: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 400px; /* Más ancho */
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  /* Header del modal */

  .modal-headerr {
    background: #ffb6c1;
    border-bottom: 2px solid #ffc0cb;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  /* Título del modal */
  .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  .modal-footerr {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 10px; /* Espaciado entre los botones */
  }
  
  /* Botones del modal */
  .modal-footerr .btn-secondaryModal {
    background: #f5c842;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .modal-footerr .btn-dangerModal {
    background: #db2a54e8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .modal-footerr .btn-dangerModal:hover {
    background: #ff3856;
  }
  
  .modal-footerr .btn-secondaryModal:hover {
    background: #ffbf01;
  }
  
  
  /* Animación de aparición del modal */
  .modal-content {
    margin-top: 150px;
    margin-left: 50px; 
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  